streamlit
langchain
langchain-community
langchain-classic
langchain-groq
langchain-huggingface
sentence-transformers
faiss-cpu
python-dotenv
pandas
numpy
pypdf
Pillow
apscheduler
beautifulsoup4
scikit-learn
flashtext
joblib
networkx
plotly
vaderSentiment
langdetect
